
.navbar {
    padding-bottom: 15px;
}

.navbar-brand {
	font-family: 'Helvetica', sans-serif;
	font-size: 48px;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}

p, h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.game {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    margin: 10px;
}

h5 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    color: darkblue;
}

#results {
   font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
}

.jumbotron {
    opacity: 0.90;
}

